// Variables Sass
$red: #c62828;
$green: #2e7d32;
$cream: #fff8ef;
$dark: #241a17;
$grey: #d5d5d5;

:root{
    --primary: #{$red};
    --secondary: #{$green};
    --light: #{$cream};
    --dark: #{$dark};
    --grey: #{$grey};
}

body{
    background-color: var(--light);
}

header{
    &.site-header{
        background-color: var(--primary);
        h1{
            margin: 0;
        }
        a{
            color: var(--light);
            text-decoration: none;
            &:hover, &:focus{
                font-style: bold;
            }
        }
    }
    nav#site-navigation{
        ul{
            li{
                margin-right: 2rem;
                &.btn-commander{
                    background-color: var(--dark);
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                    &:hover,&:focus{
                        background-color: var(--secondary);
                    }
                }
            }
        }
    }
}

footer{
    .company-info{
        background-color: var(--dark);
        color: var(--light);
        h1, p, address{
            margin: 0;
        }
        h1{
            margin-bottom: .5rem
        }
    }
    .site-copy{
        background-color: var(--secondary);
        color: var(--light);
    }
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    img{
        width: 100%;
    }
    .hero__text{
        position: absolute;
        color: #fff;
        text-align: center;
        width: 100%;
        margin: 10rem auto;
        h2{
            text-transform: uppercase;
            font-style: bold;
        }
        p{
            font-size: large;
        }
    }
}